<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->

    <!-- Lista Categorias -->

    <!-- Fin Lista Categorias -->

    <!-- Nuestros Cursos  error en el row-->
    <div class="container pt-5 c-categoria">
      
      <div class="col-12 row pm-0 border border-dark">
        <div class="col-md-12 col-lg-2 pm-0 c-ul-categoria">
            <ul class="navbar-nav ul-categoria">
                <li class="li-categoria btn c-btncurso">Ingenieria</li>
                <li class="li-categoria btn c-btncurso">Contabilidad</li>
                <li class="li-categoria btn c-btncurso">Informatica</li>
                <li class="li-categoria btn c-btncurso">Derecho</li>
                <li class="li-categoria btn c-btncurso">Veterinaria</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-10">
          <div class="col-12 pm-0">
            <div class="c-header text-white col-12 row pm-0">
              <div class="filtro"> <button type="button" class="btn-filtro1">MEJOR PUNTUACION</button> </div>
              <div class="filtro"> <button type="button" class="btn-filtro2">NUEVOS</button> </div>
              <div class="filtro"> <button type="button" class="btn-filtro3">MAS VISTOS</button> </div>
            </div>
          </div>
  
          <div class="col-12">
            <div class="row ">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
                <div class="card card-img-c1" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">
  
                      <span> <strong> AutoCad Avanzado</strong> <br> </span>
                      <span class="font-12">Ing. Ivan Grados Ramirez </span>
  
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                      <samp>
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                        <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                      </samp>
                    </li>
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Fin Nuestros Cursos -->

  




  

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
