<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->
    
    <!-- FAQ -->
    <div class="row justify-content-center c-somos" style="background:url('../../public/img/imagenes/fondo_somos.jpg') no-repeat; background-size: cover; background-position: center center;">
        <div class="col-lg-8 col-md-10 col-sm-12 pb-3 c-faq">
            <h2 class="text-center" for="">F.A.Q.</h2>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw1" role="button" class="title-item-faq pt-1 pb-1">¿Como crear una cuenta en Dasedu Online?</label>
                <p class="cont-item-faq collapse" id="qw1">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quisquam mollitia distinctio molestiae consectetur sit odit quas nulla dolores. Quos pariatur numquam nam praesentium iste doloremque nisi, alias libero soluta!
                </p>
            </div>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw2" role="button" class="title-item-faq pt-1 pb-1">¿Como recuperar mi contraseña?</label>
                <p class="cont-item-faq collapse" id="qw2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eum, ipsa possimus doloremque necessitatibus eius officiis maiores optio ad ab voluptas impedit voluptatibus molestias sit nesciunt quidem quam, reiciendis commodi?
                </p>
            </div>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw3" role="button" class="title-item-faq pt-1 pb-1">¿Como comprar un curso?</label>
                <p class="cont-item-faq collapse" id="qw3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, cum nihil. Assumenda enim deserunt obcaecati iste quod, reprehenderit placeat et id minus hic animi commodi explicabo, sunt beatae impedit! Velit.
                </p>
            </div>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw4" role="button" class="title-item-faq pt-1 pb-1">¿Que debo hacer despues de crear mi cuenta?</label>
                <p class="cont-item-faq collapse" id="qw4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nisi libero excepturi harum veniam. Perferendis sequi asperiores accusantium dolorem alias perspiciatis suscipit placeat, vero quaerat nesciunt. Nisi mollitia debitis laborum.
                </p>
            </div>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw5" role="button" class="title-item-faq pt-1 pb-1">¿Como crear contenido?</label>
                <p class="cont-item-faq collapse" id="qw5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nisi libero excepturi harum veniam. Perferendis sequi asperiores accusantium dolorem alias perspiciatis suscipit placeat, vero quaerat nesciunt. Nisi mollitia debitis laborum.
                </p>
            </div>
            <div class="col-12 c-item-faq mb-3" >
                <label for="" data-toggle="collapse" href="#qw6" role="button" class="title-item-faq pt-1 pb-1">¿Como realizar el pago de mi carrito de compra?</label>
                <p class="cont-item-faq collapse" id="qw6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nisi libero excepturi harum veniam. Perferendis sequi asperiores accusantium dolorem alias perspiciatis suscipit placeat, vero quaerat nesciunt. Nisi mollitia debitis laborum.
                </p>
            </div>
        </div>       
    </div>
 
    <!-- Fin FAQ -->

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
