<div class="container-fluid text-center text-md-left c-header">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">

        <ul class="list-unstyled text-center mt-3 borderb-r">
          <li>
            <a class="letra1" href="somos.html">Quienes Somos</a>
          </li>
          <li>
            <a class="letra1" href="faq.html">F.A.Q</a>
          </li>
          <li>
            <a class="letra1" href="#!">Trabaja con Nosotros</a>
          </li>
          <li>
            <a class="letra1" href="#!">Blog</a>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-4 mb-md-0 mb-3 mt-3">

          <ul class="list-unstyled text-center borderb-r">
            <li>
              <a class="letra1" href="#!">Compra Certificados</a>
            </li>
            <li>
              <a class="letra1" href="#!">Contactanos</a>
            </li>
          </ul>

      </div>

      <div class="col-md-4 mb-md-0 mb-3 mt-3">

        <ul class="list-unstyled text-center">
          <li>
            <a class="letra1" href="#!">Terminos y condiciones 1</a>
          </li>
          <li>
            <a class="letra1" href="#!">Para Instituciones 2</a>
          </li>
        </ul>

      </div>

      <div class="col-12">

        <span class=" d-flex justify-content-center">
          <a href="#">
           <div class="cont-redes"> <img class="img-g" src="../../public/img/facebook.png" alt="">  </div>
         </a>
          <a href="#">
            <div class="cont-redes"> <img class="img-g" src="../../public/img/twitter.png" alt="">  </div>
          </a>

          <a href="#">
            <div class="cont-redes"> <img class="img-g" src="../../public/img/gplus.png" alt=""> </div>
           </a>
        </span>

      </div>

    </div>


  </div>

  <div class="footer-copyright text-center py-3 c-ng letra1">
    <span class=" d-flex justify-content-center">
       <div class="cont-copr"> <img class="img-g" src="../../public/img/logo_dasdaz.png" alt="">  </div>
    </span>
      Copyright © Todos los derechos reservados Dasdaz S.A
  </div>
  <!-- Copyright -->
