<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->

    <!-- slider cuerpo -->
    <div id="carouselExampleIndicators" class="carousel slide cont-slider mt-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner cont-slider">
        <div class="carousel-item active" style="background:url('../../public/img/imagenes/s1.jpg') no-repeat; background-size: cover; background-position: center center;">

          <div class="carousel-caption d-none d-md-block cont-jum">
            <div class="jumbotron c-transparent">
               <h4>Learning Online Becomes Easier</h4>
               <div class="language-html" data-lang="html">
                 <span class="nt">Academi is a perfect theme for sharing and selling your </span> <br>
                 <span class="nt">knowledge online. It's not just a theme, but learning</span> <br>
                 <span class="nt">management system that provider great feactures to make</span> <br>
                 <span class="nt">learning and teaching online easier for everyone</span> <br>
              </div>
               <p class="lead">
                 <button type="button" class="btn btn-success">Get Started</button>
               </p>
             </div>
         </div>

        </div>
        <div class="carousel-item" style="background:url('../../public/img/imagenes/s2.jpg') no-repeat; background-size: cover; background-position: center center;">
          <img class="d-block w-100" src="" alt="Second slide">
          <div class="carousel-caption d-none d-md-block cont-jum">
            <div class="jumbotron c-transparent">
               <h4>Learning Online Becomes Easier</h4>
               <div class="language-html" data-lang="html">
                 <span class="nt">Academi is a perfect theme for sharing and selling your </span><br>
                 <span class="nt">knowledge online. It's not just a theme, but learning</span><br>
                 <span class="nt">management system that provider great feactures to make</span><br>
                 <span class="nt">learning and teaching online easier for everyone</span><br>
              </div>
               <p class="lead">
                <button type="button" class="btn btn-success">Get Started</button>
               </p>
             </div>
         </div>

        </div>
        <div class="carousel-item" style="background:url('../../public/img/imagenes/s3.jpg') no-repeat; background-size: cover; background-position: center center;" >
          <img class="d-block w-100" src="" alt="Third slide">
          <div class="carousel-caption d-none d-md-block cont-jum">
            <div class="jumbotron c-transparent">
               <h4>Learning Online Becomes Easier</h4>
               <div class="language-html" data-lang="html">
                 <span class="nt">Academi is a perfect theme for sharing and selling your </span><br>
                 <span class="nt">knowledge online. It's not just a theme, but learning</span><br>
                 <span class="nt">management system that provider great feactures to make</span><br>
                 <span class="nt">learning and teaching online easier for everyone</span><br>
              </div>
               <p class="lead">
                 <button type="button" class="btn btn-success">Get Started</button>
               </p>
             </div>
         </div>

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Fin slider cuerpo -->



    <!-- Nuestros Cursos  error en el row-->
    <div class="container pt-5">
      <div class="col-12 text-center">
        <h4>Nuestros Cursos</h4>
      </div>

      <div class="col-12 row pm-0">
        <div class="col-12 pm-0">
          <div class="d-inline-flex p-2 c-header text-white col-12 d-flex justify-content-between row pm-0">
            <div class="p-2"> <button type="button" class="btn active-c">Ingenieria</button> </div>
            <div class="p-2"> <button type="button" class="btn c-btncurso">Informatica</button> </div>
            <div class="p-2"> <button type="button" class="btn c-btncurso">Contabilidad</button> </div>
            <div class="p-2"> <button type="button" class="btn c-btncurso">Psicologia</button> </div>
            <div class="p-2"> <button type="button" class="btn c-btncurso">Ver mas -->></button> </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row ">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 d-flex justify-content-center">
              <div class="card card-img-c1" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img class="card-img-top" src="../../public/img/imagenes/civil.jpeg" alt="">

                    <span> <strong> AutoCad Avanzado</strong> <br> </span>
                    <span class="font-12">Ing. Ivan Grados Ramirez </span>

                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                    <samp>
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                      <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                    </samp>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Fin Nuestros Cursos -->

    <!-- cursos y profesores -->

    <div class="container p-5">
      <div class="row">

        <div class="col-12 col-md-4 border-r d-flex justify-content-center">
          <div class="card text-center sborder" style="width: 18rem;">
            <img src="../../public/img/certificados.png" class="card-img-top cont-imgcar mx-auto d-block" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item sborder c-li1 text-white"><br>Certificados Oficiales</li>
              <li class="list-group-item sborder c-li2">
                En nuestro sitio podras obtner certificados con validez oficial,
                para el mercado laboral
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-4 border-r d-flex justify-content-center">
          <div class="card text-center sborder" style="width: 18rem;">
            <img src="../../public/img/profesores.png" class="card-img-top cont-imgcar mx-auto d-block" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item sborder c-li1 text-white"><br>Profesores Expertos</li>
              <li class="list-group-item sborder c-li2">
                Los contenidos proporcionados en nuestro sitio, estaran desarrollados por
                profesores especialistar en diversos temas.
              </li>
            </ul>
          </div>
        </div>


        <div class="col-12 col-md-4 d-flex justify-content-center">
          <div class="card text-center sborder" style="width: 18rem;">
            <img src="../../public/img/convenios.png" class="card-img-top cont-imgcar mx-auto d-block" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item sborder c-li1 text-white"><br>Convenio Institucional</li>
              <li class="list-group-item sborder c-li2">
              Nuestros contenidos estan validados y respaldados por instituciones publicas reconocidas
              a nivel nacional
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>


    <!-- Fin cursos y profesores -->




    <!-- Nuestros Catedraticos -->
    <div class="container pt-5">
      <div class="col-12 text-center">
        <h4>Nuestros Catedraticos</h4>
      </div>
      <div class="row">
        <div class="ol-sm-12 col-md-6">
          <div class="jumbotron jumbotron-fluid p-0 sombra-cat">
            <div class="container row">
              <div class="col-4">
                <img class="card-img-top" src="../../public/img/imagenes/prof1.jpg" alt="">
              </div>
              <div class="col-8">
                <span> <strong>Mg. Michael Smith </strong> <br> </span>
                <span class="font-12">
                  Docente de la Universidad nacional de Cajamrca, especialista en mecanica de fluidos,
                  en la facultad de ingenieria, escuela academico profesional de ingenieria civil, Integrante
                  honorario del CIP (Colegio de ingenieros del Peru).
                </span>
              </div>
            </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="jumbotron jumbotron-fluid p-0 sombra-cat">
            <div class="container row">
              <div class="col-4">
                <img class="card-img-top" src="../../public/img/imagenes/prof1.jpg" alt="">
              </div>
              <div class="col-8">
                <span> <strong>Mg. Michael Smith </strong> <br> </span>
                <span class="font-12">
                  Docente de la Universidad nacional de Cajamrca, especialista en mecanica de fluidos,
                  en la facultad de ingenieria, escuela academico profesional de ingenieria civil, Integrante
                  honorario del CIP (Colegio de ingenieros del Peru).
                </span>
              </div>
            </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="jumbotron jumbotron-fluid p-0 sombra-cat">
            <div class="container row">
              <div class="col-4">
                <img class="card-img-top" src="../../public/img/imagenes/prof1.jpg" alt="">
              </div>
              <div class="col-8">
                <span> <strong>Mg. Michael Smith </strong> <br> </span>
                <span class="font-12">
                  Docente de la Universidad nacional de Cajamrca, especialista en mecanica de fluidos,
                  en la facultad de ingenieria, escuela academico profesional de ingenieria civil, Integrante
                  honorario del CIP (Colegio de ingenieros del Peru).
                </span>
              </div>
            </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6">
          <div class="jumbotron jumbotron-fluid p-0 sombra-cat">
            <div class="container row">
              <div class="col-4">
                <img class="card-img-top" src="../../public/img/imagenes/prof1.jpg" alt="">
              </div>
              <div class="col-8">
                <span> <strong>Mg. Michael Smith </strong> <br> </span>
                <span class="font-12">
                  Docente de la Universidad nacional de Cajamrca, especialista en mecanica de fluidos,
                  en la facultad de ingenieria, escuela academico profesional de ingenieria civil, Integrante
                  honorario del CIP (Colegio de ingenieros del Peru).
                </span>
              </div>
            </div>
            </div>
        </div>



      </div>
    </div>

    <!-- Fin Nuestros Catedraticos -->

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
