<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->
    
    <!-- Quienes Somos -->
    <div class="row justify-content-center c-somos" style="background:url('../../public/img/imagenes/fondo_somos.jpg') no-repeat; background-size: cover; background-position: center center;">
        <div class="col-lg-6 col-md-12 c-mision">
            <div class="col-12 mision">
                <img class="" src="../../public/img/mision.png" alt="">
            </div>
            <div class="des-mision col-12 p-4">
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Proporsionar contenido educativo de calidad.</label>
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Facil accesibilidad en nuestro sitio.</label>
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Ofrecer herramientas de apoyo que faciliten el aprendizaje a nuestros clientes.</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 c-vision">
            <div class="col-12 vision">
                <img src="../../public/img/vision.png" alt="">
            </div>
            <div class="des-mision col-12 p-4">
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Convertirnos en un referente importante sobre e-learnign.</label>
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Expandirnos a nivel nacional.</label>
                <img src="../../public/img/check.png" alt="" class="col-1"><label class="col-11" for="">Aumentar nuestra variedad de servicios, de forma mas especifica a las necesidades de los clientes.</label>
            </div>
        </div>
        <div class="col-12 c-img1">
            <img src="../../public/img/img1_som.png" alt="">
            <p class="frase-1 text-center" for="">Aprende con Nosotros</p>
            <p class="frase-2 text-center">y Alcanza tus metas</p>
        </div>
    </div>
    <div>
        
    </div>
    <!-- Fin Quienes Somos -->

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
