<div class="col-12 justify-content-center c-general-agenda d-flex">
    <div class="col-4 f-blanco">
        <span>Agenda</span>
        <div class="form-group">
            <select name="" id="">
                <option value="">Mes 1</option>
                <option value="">Mes 1</option>
                <option value="">Mes 1</option>
                <option value="">Mes 1</option>
            </select>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title m-despleg">
                                <div class="row" data-toggle="collapse" data-target="#collapse1">
                                    <div class="col-10">
                                        fecha 1
                                    </div>
                                    <div class="col-2 ico-flecha"></div>
                                </div>
                                
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse1" >
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title m-despleg">
                                <div class="row" data-toggle="collapse" data-target="#collapse2">
                                    <div class="col-10">
                                        fecha 1
                                    </div>
                                    <div class="col-2 ico-flecha"></div>
                                </div>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse2" >
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title m-despleg">
                                <div class="row" data-toggle="collapse" data-target="#collapse3">
                                    <div class="col-10">
                                        fecha 1
                                    </div>
                                    <div class="col-2 ico-flecha"></div>
                                </div>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse3" >
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title m-despleg">
                                <div class="row" data-toggle="collapse" data-target="#collapse4">
                                    <div class="col-10">
                                        fecha 1
                                    </div>
                                    <div class="col-2 ico-flecha"></div>
                                </div>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse4" >
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                            <div class="panel-body">Panel Body</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">formulario</div>
</div>