<div class="col-12 justify-content-center c-general-agenda d-flex">
    <div class="col-4">
        <div class="row">
                <span class="mx-auto text-uppercase font-weight-bold">Agenda</span>
        </div>
        <div class="f-blanco">
            <div class="row col-12">
                <div class="form-group mx-auto">
                    <div class="agenda-select">
                        <select name="" id="">
                            <option value="">Mes 1</option>
                            <option value="">Mes 1</option>
                            <option value="">Mes 1</option>
                            <option value="">Mes 1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title m-despleg">
                                    <div class="row" data-toggle="collapse" data-target="#collapse1">
                                        <div class="col-10">
                                            01 fecha 1
                                        </div>
                                        <div class="col-2 ico-flecha"></div>
                                    </div>
                                    
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse1" >
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title m-despleg">
                                    <div class="row" data-toggle="collapse" data-target="#collapse2">
                                        <div class="col-10">
                                            02 fecha 1
                                        </div>
                                        <div class="col-2 ico-flecha"></div>
                                    </div>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse2" >
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title m-despleg">
                                    <div class="row" data-toggle="collapse" data-target="#collapse3">
                                        <div class="col-10">
                                            03 fecha 1
                                        </div>
                                        <div class="col-2 ico-flecha"></div>
                                    </div>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse3" >
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title m-despleg">
                                    <div class="row" data-toggle="collapse" data-target="#collapse4">
                                        <div class="col-10">
                                            04 fecha 1
                                        </div>
                                        <div class="col-2 ico-flecha"></div>
                                    </div>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse4" >
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-body">Panel Body</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
                <span class="text-uppercase font-weight-bold">Detalles Agenda</span>
        </div>
        <div class="row agenda-contenido">
            <div class="col-12 agenda-contorno-contenido m-10">
                <div class="row">
                    <h3 class="font-weight-bold ml-4">Martes 01 Enero - 2019</h3>
                </div>
                <div class="row">
                    <div class="form-group ml-4 col-11">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div> 
                </div>
                <div class="row justify-content-center">
                        <div class="row ml-2 text-center justify-content-center">
                                <img src="../../public/img/ic-btn/nuevo.png">
                                <span class="col-12">Salir</span>
                        </div>
                        <div class="row ml-2 text-center justify-content-center">
                                <img src="../../public/img/ic-btn/guardar.png">
                                <span class="col-12">Salir</span>
                        </div>
                        <div class="row ml-2 text-center justify-content-center">
                                <img src="../../public/img/ic-btn/eliminar.png">
                                <span class="col-12">Salir</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>