<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SisDetalles</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar-expand-lg navbar-light fixed-top"></nav>
    <!-- Fin menu Principal -->

    <!--Cuerpo de Sistema-->
    <nav class="navbar navbar-expand-lg navbar-light"></nav>
    <div class="col-12 justify-content-center c-general-1 d-flex">
        <!--Calendario-->
        <div class="c-calendario col-4">
          <div class="c-salones-event col-12 d-flex">
            <div class="item-salones-event col-4">D'Gala</div>
            <div class="item-salones-event col-4">Casa Blanca</div>
            <div class="item-salones-event col-4">Villa Jardin</div>
          </div>
          <div class="calendario col-12">
          
          </div>
        </div>
        <!--Fin Calendario-->  

        <!--Formularios-->
        <div class="c-formulario col-8">
          <h4>EVENTO: 1 de Enero 2019 - Casa Blanca</h4>
          <div class="c-form">
              <ul class="nav nav-tabs c-tabs-event" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Paquetes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Croquis</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="false">Pagos</a>
                    </li>
                </ul>
                <div class="tab-content c-formulario" id="myTabContent">
                  
                  <!--Datos Generales-->
                  <div class="c-tab-panel tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <form class="formulario row">
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Nombre:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nombre">
                                </div>
                              </div>
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Apellido:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Apellido">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">DNI:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="DNI">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Telefono1:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Telefono1">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Telefono2:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Telefono2">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Telefono Casa:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Telefono Casa">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Email:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Email">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Nombre Evento:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nombre Evento">
                                </div>
                              </div>
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Fecha:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Fecha">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Hora Inicio:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Hora Inicio">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Hora Fin:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Hora Fin">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Nro Invitados:</label>
                                <div class="col-8">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nro Invitados">
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Tipo Evento:</label>
                                <div class="col-8">
                                  <select class="form-control form-control-sm" placeholder="Tipo Evento">
                                    <option>Boda</option>
                                    <option>Bautizo</option>
                                    <option>50 Años</option>
                                    <option>15 Años</option>
                                  </select>
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Salón:</label>
                                <div class="col-8">
                                  <select class="form-control form-control-sm" placeholder="Salón">
                                    <option>D'Gala</option>
                                    <option>Casa Blanca</option>
                                    <option>Villa Jardín</option>
                                  </select>
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-6">
                              <div class="row">
                                <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Estado:</label>
                                <div class="col-8">
                                  <select class="form-control form-control-sm" placeholder="Estado">
                                    <option>Pendiente</option>
                                    <option>Activo</option>
                                    <option>Cerrado</option>
                                  </select>
                                </div>
                              </div> 
                          </div>
                          <div class="form-group col-12 row">
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                          </div>
                        </form>
                  </div>
                  <!--Fin Datos Generales-->
                  
                  <!--Paquetes-->
                  <div class="c-tab-panel tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <form class="formulario row">
                        <div class="col-6">
                          <div class="form-group col-12">
                                <div class="row">
                                  <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Salon:</label>
                                  <div class="col-8">
                                    <select class="form-control form-control-sm" placeholder="Estado">
                                      <option>D'Gala</option>
                                      <option>Casa Blanca</option>
                                      <option>Villa Jardin</option>
                                    </select>
                                  </div>
                                </div> 
                          </div>
                          <div class="form-group col-12">
                                <div class="row">
                                  <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm">Paquete:</label>
                                  <div class="col-8">
                                    <select class="form-control form-control-sm" placeholder="Estado">
                                      <option>Básico</option>
                                      <option>Paquete 2</option>
                                      <option>Paquete 3</option>
                                      <option>Paquete 4</option>
                                      <option>Paquete 5</option>
                                      <option>Paquete 6</option>
                                      <option>Paquete 7</option>
                                      <option>Paquete 8</option>
                                      <option>Paquete 9</option>
                                    </select>
                                  </div>
                                </div> 
                          </div>
                        </div>
                        <div class="col-6 c-tabla-paquete">
                            <table class="tabla-paquete table table-sm">
                              <tbody>
                                <tr>
                                  <th scope="row">Mas de 100 invitados:</th>
                                  <td>46.00</td>
                                </tr>
                                <tr>
                                  <th scope="row">Mas de 150 invitados:</th>
                                  <td>45.00</td>
                                </tr>
                                <tr>
                                  <th scope="row">Mas de 200 invitados:</th>
                                  <td>44.00</td>
                                </tr>
                                <tr>
                                  <th scope="row">Mas de 250 invitados:</th>
                                  <td>43.00</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="col-4 d-flex cont-estado-pac">
                          <div class="col-7 d-flex c-estado-pac">
                            <p>Borrador</p>
                            <div class="estado-pac">
                              <img src="../../public/img/icon-adver.png" alt="">
                            </div>                            
                          </div>
                          <div class="col-5">
                            <div class="c-btn-estado-pac">
                              <img src="../../public/img/ico-config.png" alt="">
                            </div>                            
                          </div>
                        </div>
                        <div class="c-detalle-paquete">
                            <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col">ITEM</th>
                                    <th scope="col">DESCRIPCION DE ITEM</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <th>BRINDIS</th>
                                      <td>
                                        <ul>
                                          <li>Pisco Sour o Champagne Primado</li>
                                        </ul>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>PLATO DE FONDO</th>
                                      <td>
                                        <ul>
                                          <li>A escoger</li>
                                        </ul>  
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>DECORACION</th>
                                      <td>
                                        <ul>
                                            <li>Toldo y paredes decorativas completas</li>
                                            <li>Mesa de Novio (De Cristal)</li>
                                            <li>Mesa de Toras (De Cristal)</li>
                                            <li>Mesas Redodas (10pax) / Manteleria a escoger</li>
                                            <li>Sillas Vestidas con lazos decorativos (Color a escoger)</li>
                                            <li>Fondo decorativo (Color a escoger)</li>
                                            <li>Estrado Alfombrado de 2 niveles</li>
                                            <li>Menaje y Cristaleria de acuerdo al paquete</li>
                                            <li>Servilletas de tela y plato de sitio</li>
                                            <li>Luces calidas (araña principal 2.2mts y arañas secundarias)</li>
                                        </ul>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>EQUIPO DE TRABAJO</th>
                                      <td>
                                        <ul>
                                          <li>Coordinador, Mozo, Barrero, Limpieza, Staff de Cocina y (1) Seguridad en la Puerta</li>
                                          <li>Coreografia para el baile principal del evento</li>
                                        </ul>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>EVENT PLANNER</th>
                                      <td>
                                        <ul>
                                          <li>Planificacion y Asesoramiento del Evento</li>
                                        </ul>  
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>ARREGLOS FLORALES</th>
                                      <td>
                                        <ul>
                                          <li>Centro de Mesa con Astromelias</li>
                                        </ul>  
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </form>                      
                  </div>
                  <!--Fin Paquetes-->
                  
                  <!--Croquis-->
                  <div class="c-tab-panel tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Croquis
                  </div>
                  <!--Fin Croquis-->
                  
                  <!--Pagos-->
                  <div class="c-tab-panel tab-pane fade" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
                    Pagos
                  </div>
                  <!--Fin Pagos-->

                </div>
          </div>
        </div>
        <!--Fin Formularios-->        
    </div>
    <!--Fin Cuerpo de Sistema-->
    <div class="c-modal">
      <div class="modal">
          
      </div>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
</footer>

 <!-- Fin footer -->


      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
