<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISTEMA</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
    <link rel="stylesheet" href="../../public/css/sistem.css">
      <link rel="stylesheet" href="../../public/css/jquery-ui.css">
  </head>
  <body>







      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/what-input.js"></script>
      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>


        <script type="text/javascript">
      $(document).ready(function(){
        $("#misTabs").tabs();

      })

    </script>

  </body>
</html>
