<div class="row col-12 c-menu">
	<ul class="menu1 justify-content-center col-12 d-flex">

		<li class="item-menu1 col-1 text-center">
			<a href="eventos.html">
				<div class="col-12">
					<img src="../../public/img/ico_evento.png" alt="">
				</div>
				<p class="col-12 pr-0 pl-0">Eventos</p>
			</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
					<img src="../../public/img/ico_almacen.png" alt="">
				</div>
				<p class="col-12 pr-0 pl-0">Almacen</p>
			</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_subalmacen.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">SubAlmacen</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_productos.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Productos</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_reporte.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Reportes</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_configuracion.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Config.</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_agenda.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Agenda</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_mensaje.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Mensajes</p>
		</a>
		</li>

		<li class="item-menu1 col-1 text-center">
			<a href="#">
				<div class="col-12">
				<img src="../../public/img/ico_logout.png" alt="">
			</div>
			<p class="col-12 pr-0 pl-0">Salir</p>
		</a>
		</li>

	</ul>
</div>
