body{
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
.c-menu ul{
  list-style: none;
}
.item-menu1{
  border: 2px solid #781924 !important;
  border-radius: 5px;
  margin: 5px;
  background: #b3b3b3;
  padding-left: 0px !important;
  padding-right: 0px !important;
  cursor: pointer;
}
.item-menu1:hover{
  background: #781924;
}
.item-menu1 div{
  min-height: 80px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.item-menu1 div img{
  width: 70%;
  height: auto;
  padding: 5px;
}
.item-menu1 p{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.m-bienvenida{
  color: gray;
  text-align: center;
  margin-top: 300px;
}
.c-general-1{
  width: calc(100% - 40px);
  height: auto;
  background: #b3b3b3;
  margin: 0px auto;
  border-radius: 10px;
  padding: 10px;
}
.calendario{
  background:#fff;
  height: 250px;
  border: 1px solid #000;
  border-radius: 10px;
}
.c-form{
  background: #e7d141;
}
.c-general{
  margin-bottom: 20px;
}
.c-tabs-event{
  background: #e78641;
  border: none !important;
}

.c-tabs-event li a{
  color: #000 !important;
  text-decoration: none !important;
  border: none !important;
}
.active{
  background: #e7d141 !important;
}
.c-formulario{
  border: none !important;
}
.formulario{
  width: 100%;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-top: 20px;
}
.c-tab-panel{
  padding: 10px;
}
.tabla-paquete th{
  border: 1px transparent !important;
}
.tabla-paquete td{
  border: 1px solid #e7d141 !important;
  background: #e78641;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.tabla-paquete td:hover{
  background: #d82e41;
}
.c-detalle-paquete{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
}
.c-estado-pac{
  background: #ff0000;
  border-radius: 5px;

}
.estado-pac{
  width: 30px;
  height: auto;
  overflow: hidden;
}
.estado-pac img{
  width: 100%;
  height: auto;
}
.c-btn-estado-pac{
  width: 30px;
  overflow: hidden;
}
.c-btn-estado-pac img{
  width: 100%;
  height: auto;
  cursor: pointer;
}
.cont-estado-pac{
  height: 30px;
  color: #fff;
}
.c-modal{
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
}
/*RESPONSIVE*/

/* Tablets en horizonal y escritorios normales*/
@media (min-width: 768px) and (max-width: 1200px){

}

/* Móviles en horizontal o tablets en vertical*/
@media (max-width: 767px){

}

/*Móviles en vertical*/
@media (max-width: 480px){

}
